<%- include("header") %>

<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam itaque
  nam repellat molestias quod sunt, sit possimus voluptates quia explicabo.
</p>

<%- include("footer") %>
